
<div class="container">
    <div class="row"> 
        <div class="col-2"></div>
        <div class="col-6">
            <!-- prvo cemo ispisati korisnika kojeg dobijemo -->
            <div class="card text-center">
                <div class="card-header">
                    About user
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr> <th> Name </th> <td> {{magazine.name}}</td></tr>
                            <tr> <th> ISSN number </th> <td> {{magazine.issn}}</td></tr>
                            <tr> <th> Payment </th> <td> {{magazine.payment}}</td></tr>
                            <tr> <th> Chief editor </th> <td> {{magazine.chiefEditor}}</td></tr>
                            <tr> <th> Scientific fields </th> <td> {{magazine.scientific}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form class="form-group" [formGroup]="inputEditorBoard" (ngSubmit)="onSubmit()">
                <div *ngFor="let field of formFields" >
                    <label for={{field.id}} *ngIf="field.type.name !='string' || field.id =='editors' || field.id=='reviewers'">{{field.label}}</label>
            
                    <input type="text" formControlName={{field.id}} placeholder="{{field.label}}" ngModel class="form-control" *ngIf="field.type.name=='string' && field.id != 'editors' && field.id !='reviewers'" >
        
                    <input type="checkbox" formControlName={{field.id}}  ngModel class="form-control"  *ngIf="field.type.name=='boolean'">
                    <input type="number" formControlName={{field.id}} placeholder="{{field.label}}" ngModel class="form-control" *ngIf="field.type.name=='long'">
                    <select multiple formControlName={{field.id}} *ngIf="field.id=='editors'" class="form-control">
                    <option *ngFor="let val of editors" value={{val.id}}>
                        
                        {{val.name}} {{val.surname}} - {{val.scientific.name}}
                    </option>
                    </select>
                    <select multiple formControlName={{field.id}} *ngIf="field.id=='reviewers'" class="form-control">
                        <option *ngFor="let val of reviewers" value={{val.id}}>
                            {{val.name}} {{val.surname}} - {{val.scientific.name}}
                        </option>
                        </select>
                <br>
                </div>

                <button type="submit" class="btn btn-primary"> Register </button>
            </form>
        </div>
        <div></div>
    </div>
</div>