<div class="container">
    <div class="row"> 
        <div class="col-2"></div>
        <div class="col-6">
           <table class="table">
               <thead>
                   <tr>
                        <th scope="col"> No. </th>
                        <th scope="col"> Task name </th>
                        <th scope="col"></th>
                   </tr>
               </thead>
               <tbody> 
                   <tr *ngFor="let t of tasks; let i = index">
                        <th scope="row"> {{i+1}} </th>
                        <td> <a href="/{{t.name_id}}/{{t.taskId}}"> {{t.name}} </a> </td> 
                        <td> </td> 
                    </tr>
                   
               </tbody>
           </table>
        </div>
        <div></div>
    </div>
</div>